MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/finstreet?retryWrites=true&w=majority
PORT=5000

JWT_SECRET=access-secret-key
JWT_REFRESH_SECRET=refresh-secret-key

CLIENT_URL=http://localhost:4000
SERVER_URL=http://localhost:5000

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret

NODE_ENV=development